@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow: hidden;
  background-color: #080808;
  color: #e5e5e5;
  user-select: none;
}

input[type="range"] {
  -webkit-appearance: none;
  background: #333;
  height: 4px;
  border-radius: 2px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #e5e5e5;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #2fe4b9;
}
